# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Output files
output/*
!output/results-en-US.csv
